USE [master]
GO
/****** Object:  Database [DB_ACCESO]    Script Date: 7/8/2025 11:18:56 p. m. ******/
CREATE DATABASE [DB_ACCESO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ACCESO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_ACCESO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ACCESO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_ACCESO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ACCESO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ACCESO]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/8/2025 11:18:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IDUsuario], [Correo], [Clave]) VALUES (1, N'Jescalante@gmail.com', N'Jaime1234')
INSERT [dbo].[USUARIO] ([IDUsuario], [Correo], [Clave]) VALUES (2, N'jerkinescalante@gmail.com', N'Jaime1234')
INSERT [dbo].[USUARIO] ([IDUsuario], [Correo], [Clave]) VALUES (3, N'jerkinescalante30@gmail.com', N'Jaime1234')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 7/8/2025 11:18:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RegistrarUsuario](
@Correo Varchar(100),
@Clave Varchar(500),
@Registrado bit output,
@Mensaje varchar (100) output
)
as
begin

	if(not exists(select * from USUARIO where Correo = @Correo))
	begin
		Insert into USUARIO(Correo,Clave) Values(@Correo,@Clave)
		Set @Registrado = 1
		Set @Mensaje = 'Usuario registrado correctamente'
	end
	else
	begin
		set @Registrado = 0
		set	@Mensaje = 'Este correo ya esta registrado'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarUsuario]    Script Date: 7/8/2025 11:18:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ValidarUsuario](
@Correo Varchar(100),
@Clave Varchar(500)
)
as
begin
	If(exists(Select * from USUARIO where Correo = @Correo and Clave = @Clave))
		Select IdUsuario from USUARIO where Correo = @Correo and Clave = @Clave
	else
		Select 
		'0'
	end
GO
USE [master]
GO
