USE [master]
GO
/****** Object:  Database [SistemaAgenciaTours]    Script Date: 7/8/2025 11:16:33 p. m. ******/
CREATE DATABASE [SistemaAgenciaTours]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaAgenciaTours', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaAgenciaTours.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaAgenciaTours_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaAgenciaTours_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAgenciaTours].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAgenciaTours]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 7/8/2025 11:16:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePais] [varchar](100) NOT NULL,
	[BanderaRuta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 7/8/2025 11:16:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[DestinoID] [int] IDENTITY(1,1) NOT NULL,
	[PaisID] [int] NOT NULL,
	[NombreDestino] [varchar](100) NOT NULL,
	[DuracionHoras] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 7/8/2025 11:16:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTour] [varchar](150) NOT NULL,
	[PaisID] [int] NOT NULL,
	[DestinoID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[ITBIS]  AS ([Precio]*(0.18)) PERSISTED,
	[ImagenRuta] [nvarchar](255) NULL,
	[DuracionDias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_TourConEstado]    Script Date: 7/8/2025 11:16:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_TourConEstado] AS
SELECT 
    t.TourID,
    t.NombreTour,
    t.PaisID,
    p.NombrePais,
    t.DestinoID,
    d.NombreDestino,
    t.Fecha,
    t.Hora,
    t.Precio,
    t.ITBIS,
    t.ImagenRuta,
    3 AS DuracionDias, -- valor fijo para evitar errores
    DATEADD(DAY, 3, t.Fecha) AS FechaHoraFin, -- calculo para FechaHoraFin
    CASE 
        WHEN GETDATE() < t.Fecha THEN 'Próximo'
        WHEN GETDATE() BETWEEN t.Fecha AND DATEADD(DAY, 3, t.Fecha) THEN 'En curso'
        ELSE 'Finalizado'
    END AS Estado
FROM Tour t
JOIN Pais p ON t.PaisID = p.PaisID
JOIN Destino d ON t.DestinoID = d.DestinoID;
GO
SET IDENTITY_INSERT [dbo].[Destino] ON 

INSERT [dbo].[Destino] ([DestinoID], [PaisID], [NombreDestino], [DuracionHoras]) VALUES (1, 1, N'Punta Cana', 8)
INSERT [dbo].[Destino] ([DestinoID], [PaisID], [NombreDestino], [DuracionHoras]) VALUES (2, 1, N'Santo Domingo', 6)
INSERT [dbo].[Destino] ([DestinoID], [PaisID], [NombreDestino], [DuracionHoras]) VALUES (3, 2, N'Nueva York', 10)
SET IDENTITY_INSERT [dbo].[Destino] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisID], [NombrePais], [BanderaRuta]) VALUES (1, N'República Dominicana', NULL)
INSERT [dbo].[Pais] ([PaisID], [NombrePais], [BanderaRuta]) VALUES (2, N'Estados Unidos', NULL)
INSERT [dbo].[Pais] ([PaisID], [NombrePais], [BanderaRuta]) VALUES (3, N'España', N'/img/banderas/photo-1689308271305-58e75832289b.jpeg')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([TourID], [NombreTour], [PaisID], [DestinoID], [Fecha], [Hora], [Precio], [ImagenRuta], [DuracionDias]) VALUES (1, N'Tour de Playa en Punta Cana', 1, 1, CAST(N'2025-08-01' AS Date), CAST(N'08:00:00' AS Time), CAST(120.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Tour] ([TourID], [NombreTour], [PaisID], [DestinoID], [Fecha], [Hora], [Precio], [ImagenRuta], [DuracionDias]) VALUES (2, N'Tour Histórico en Santo Domingo', 1, 2, CAST(N'2025-08-02' AS Date), CAST(N'09:00:00' AS Time), CAST(80.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Tour] ([TourID], [NombreTour], [PaisID], [DestinoID], [Fecha], [Hora], [Precio], [ImagenRuta], [DuracionDias]) VALUES (3, N'Explorando Nueva York', 2, 3, CAST(N'2025-08-03' AS Date), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(10, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((1)) FOR [DuracionDias]
GO
ALTER TABLE [dbo].[Destino]  WITH CHECK ADD  CONSTRAINT [FK_Destino_Pais] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Pais] ([PaisID])
GO
ALTER TABLE [dbo].[Destino] CHECK CONSTRAINT [FK_Destino_Pais]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Destino] FOREIGN KEY([DestinoID])
REFERENCES [dbo].[Destino] ([DestinoID])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_Destino]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Pais] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Pais] ([PaisID])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_Pais]
GO
USE [master]
GO
